.nav-ul li {
    display:inline-block;
    padding: 4px 7px 2px 4px;
    margin: 4px;
}

.FooterClass {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    height: 46px;
}

.Register {
    margin-left : 40%;
    padding:0;
}
.login {
    margin-left: 30%;
    margin-top:0px;
    padding:100px;
    align-items:flex-start;}
.btn-sm {
    margin-left: 0;
    margin-right: 58%;
    width: 200px;
    background-color: coral;
    transform-origin: left;
    border-radius: 12px;
}
.h1_div {
    margin-left: 0;
}
.UpdatePD {

}
.Register button {
    margin-block-start: auto;
    margin-left: -50%;
    padding: 0;
    background-color: skyblue;
    width: 150px;
    border: 1px solid;
    cursor: pointer;
    height: 40px;
    border-radius: 2px;
}
.inputBox {
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid skyblue;
    display: block;
}
.DivMain {
    position: fixed;
    text-align: left;
    margin: 0px;
    padding: 0px;
    z-index:1;
    width: 100%;
    height: 100px
}
.signUp {
    padding:100px;
}

.nav-ul li a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.nav-ul {
    padding:5px;
    margin:0;
    background-color: skyblue;
}
.nav-right {
    text-align:right;
}
.from_div {
    width: 400px;
    margin-left: 40%;
}
.logo {
    width: 35px;
    float: left;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
